/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Life Savers', serif; */

/*
COLORS
H1, Get answer button, text in input field: #2B4E80;
Get answer button disabled: #607AA0;
Get answer button hover: #1C3455;
light blue background: #E6ECF4;
clear button: #DE4841;
clear button disabled: #D0CDCD
*/

body {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: blue;
  text-align: center;
  margin-top: 2rem;
  font-family: 'Life Savers', serif;
}

.magic-eight-woody {
  display: grid;
  grid-template-columns: 3fr 3fr;
}

main {
  display: flex;
  align-content: center;
}

article {
  height: 100%;
  width: 100%;
}

.image-eight-ball {
  height: 10rem;
  width: 10rem;
  margin-top: 5rem;
}

.question-ball {
  background-color: #E6ECF4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 1rem;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.button-get-answer {
  background-color: #607AA0;
  color: white;
  margin: 0.5rem;
  padding-left: 6rem;
  padding-right: 6rem;
}

.button-clear {
  margin-top: 10rem;
  margin-left: 18rem;
  background-color: #D0CDCD;
  color: white;
  border: none;
}

.hidden {
  display: none;
}

h3 {
  font-family: 'Open Sans', sans-serif;
}
